
.card {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  padding: 1.5rem;

  .editor {
    background-color: rgb(194, 172, 147);
    border-radius: 5px;
    padding-bottom: 1.5rem;
    display: block;
    width: 99%;
    min-height: 200px;
    border: none;
    outline: none;
    resize: none;
  }

  .actions {
    background-color: rgb(245, 184, 109);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;

    .tools {
      > button {
        margin-right: 0.5rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: color 0.2s ease-in-out;

        &:hover {
          color :deepskyblue
        }
      }
    }

    .send_button {
      border-radius: 8px;
      font-size: 1em;
      transition: color 0.2s ease-in-out;
    }

    .send_button:hover {
      color:deepskyblue;
      border-color: deepskyblue;
    }


  }
}